#root {
  margin: 0 auto;
  text-align: center;
}

.hour-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}
.hour-block {
  margin: auto;
  width: 100%;
  height: 300px;
  background-color: green;
  position: relative;
  border: 2px solid lightgreen;
}

.lunch-break {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: gray;
}

.lunch-break-text {
  text-align: center;
  color: white;
  font-weight: bold;
  top: -20px;
}
