@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-primary-600: #1f4aa6;
  --color-muted: #6b7280;
  --color-bg: #f5f6fa;
  --radius-card: 14px;
  --shadow-card: 0 6px 18px rgba(16,24,40,.08);
}
